.dock{
  padding: 5px;
  margin-bottom: 20px;
  /*background-color: #fafafa;*/
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  /*border: 1px solid #e8e8e8;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
}

.product-small-dock {
  min-height: 325px;
}

.product-small-image-dock {
  min-height: 250px;
  background-color: #99FFCC;
  border: 1px solid #e8e8e8;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.product-small-heading-desc {
	padding: 4px;
}

.profile-details-dock {
  min-height: 325px;
}

.vendor-banner-dock {
  min-height: 100px;
}

.product-details-image-container {
  min-height: 500px;
}

.product-full-image-dock {
    padding: 3px;
    height: 300px;
}

.product-haeding-dock{
  padding: 10px;
  min-height: 50px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ffffff;
  /*border: 1px solid #e8e8e8;*/
  border-radius: 0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
}

.GAVXO-JD0I {
  visibility: visible;
  animation: 0.6s ease-in-out 1s normal both 1 gb__nb;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: gb__nb;
  perspective-origin: right top;
  transform: scale(1, 1);
  transform-origin: right top 0px;
}

.GAVXO-JN0I {
    font: bold 11px/16px arial;
    background: none repeat scroll 0% 0% #4C8EFB;
    margin-left: 28px;
    cursor: default;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    visibility: hidden;
}

.product-thumbnail-dock{
  min-height: 80px;
  min-width: 80px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  padding: 10px;
  /*margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;*/
}

.input-dropdown{
  width: 45px;
  height: 28px;
  font-size: 12px;
  line-height: 36px;
  margin-right: 4px;
}

.page-header h1 {
    font-size: 4em;
    padding: 0px;
    margin: 0px;
}

/*.page-header{
    margin: 0px;
}*/

input.css-checkbox[type="checkbox"] + label.css-label {
    padding-left: 20px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
}

input[type='checkbox'] {
    width: 1em;
    height: 1em;
}

/*input[type='text'] {
    font-size: 1em;
}

label{
    font-size: 2em; 
}*/

.control-label{
  font-size: 13px;
  font-weight: normal;
}

.profile-label{
  margin-bottom: 20px;
}

.profile-subheading{
  margin-bottom: 40px;
  font-size: 30px;
}

.profile-heading3{
  font-size: 25px;
}

table {
  font-size: 18px;
  font-weight: 300;
}

/*.footer {
clear: both;
padding: 20px 0 30px 0;
background-color: #000000;
width: 100%;
height: 150px;
}*/

.footer {
  background:#000000;
  /*position: relative;
  margin-top: -150px;
  height: 150px;
  clear:both;
  padding-top:20px;*/
  height:100px;
  margin-top:-100px;
} 

.container{
  overflow:auto;
  min-height:100%;
  padding-bottom:50px;
}

.has-error{
  color: #D32A0E;
  font-size: 13px;
  font-weight: normal;
}

.app-alert{
  z-index: 2000;
  position: fixed;
  margin-left: 38%;
  width: 26%;
  font-weight: 310;
  opacity: 1;
}

.alert {
  font-weight: normal;
}

.badge_number_color{
  color: #FFFFFF;
}

.page-subheading,.page-subheading-2{
  padding-bottom: 9.5px;
  margin: 10px 0 10px;
  border-bottom: 1px solid #dddddd;
  font-size: 30px;
}

.horizontal-separator{
  border-bottom: 1px solid #dddddd;
}

.btn, .form-control, .dropdown-menu, .nav, .navbar{
  font-size: 13px;
  font-weight: normal;
}

.page-subheading-2{
  font-size: 20px;
}

.control-label-highlight{
  font-size: 15px;
  font-weight: bold;
}

.emptyline{
  padding: 10px;
}

.btn-sidecart-submit-order{
  width: 100%;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.bis-well {
  min-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  /*border: 1px solid #e8e8e8;*/
  border-radius: 0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  overflow:hidden;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
}

.responsive-image{
    max-width: 100%;
    /*height: 100%;*/
}

a.next-slide-button {
    position: absolute;
    /* padding: 130px 0px 0px 15px; */
    top: 50%;
    left: 90%;
    /* z-index: 12; */
    /* width: 30px; */
    /* height: 170px; */
    color: #FFFFFF;
    /*background-color: rgba(0,0,0,0.4);*/
    text-decoration: none;
    font-weight: 600;
}

a.prev-slide-button {
    position: absolute;
    /* padding: 130px 0px 0px 15px; */
    top: 50%;
    right: 90%;
    /* z-index: 12; */
    /* width: 30px; */
    /* height: 170px; */
    color: #FFFFFF;
    /* background-color: rgba(0,0,0,0.4);*/
    text-decoration: none;
    font-weight: 600;
}