<!-- <div class="row">
    <div class="col-lg-4"> -->
        <div class="bs-component">
            <div ng-class="alertClass">
                <button class="close" type="button" ng-click="toggleAlertBox()">×</button>
                <!-- <strong>Ouch!</strong> -->
                <!-- <a class="alert-link" href="#">Change a few things up</a> -->
                 {{alertMessage}}
            </div>
        </div>
    <!-- </div>
</div> -->