<div class="container">
	<div class="page-header">
		<div class="row">
			<h1>
				{{labels.cart}}
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-9 well">
			<div class="control-label page-subheading">Item details</div>
			<div ng-include src="'templates/item_details.html'"></div>
		</div>

		<div class="col-lg-3 well">
     		<div ng-include src="'templates/sidecart.html'"></div>
    	</div>
	</div>
</div>