<div class="container">
	<div class="page-header">
		<div class="row">
			<h1>
				{{current_category}}
			</h1>
		</div>
	</div>
	<div class="row" ng-repeat="i in ['a','b','c']">
		<div class="bis-well">
			<div ng-include src="'templates/category_details.html'"></div>
		</div>
	</div>
</div>
<!--
<script>
	console.log("template id is " + $scope.i);
    $scope.myslider = "myslider_" + $scope.i;
</script>-->
