<div class="container">
  <div class="page-header">
    <div class="row">
      <!-- <div ng-class="alertClass" id="app-error" ng-show="showError">
        <div ng-include src="'partials/error.html'">
        </div>
      </div> -->
        <h1>
          {{labels.checkout}}
        </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9" style="padding-left:0px">
      <div class="dock">
        <div class="control-label page-subheading">Select Shipping address</div>
        <div class="row">
          <div class="col-lg-2" style="top:9;">
            <div class="control-label" style="font-weight: bold;top:9">Ship to:</div>
          </div>
          <div class="col-lg-6 bs-component">
            <div class="btn-group">
              <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="width: 400px; font-size: 13px; font-weight: normal;">
                {{labels.select_address}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" style="height: auto; max-height: 200px; overflow-x: hidden; width: 400px;">
                <li ng-click="labels.select_address=address.name;" ng-repeat="address in addresses">
                  <a href="">
                    <div ng-include src="'templates/address.html'"></div>
                  </a>
                  <div class="horizontal-separator"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 control-label" style="top:9;fload:right;">
            <a href="" ng-click="open()" >
                Add new address
            </a>
          </div>
          <div modal="showModal" close="cancel()">
            <div class="modal-body col-lg-6 col-lg-offset-3">
              <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
              <div class="well bs-component" ng-include src="'templates/new_address_form.html'"></div>
            </div>
          </div>
        </div>
        <div class="row" style="padding: 10px;">
        </div>
        <div class="row">
          <div class="col-lg-2" style="top:9;">
            <div class="control-label" style="font-weight: bold;top:9">Comments:</div>
          </div>
          <div class="col-lg-6">
            <textarea class="form-control" rows="2" name="comments" placeholder="{{labels.comments}}" required></textarea>
          </div>
        </div>
        <!-- <div class="horizontal-separator" style="padding-top: 10px"></div> -->
      </div>
      <div class="dock">
        <div class="control-label page-subheading">Item details</div>
        <div ng-include src="'templates/item_details.html'"></div>
      </div>
    </div>
    <div class="col-lg-3" style="padding-right:0px">
      <div class="well" ng-include src="'templates/sidecart.html'"></div>
    </div>
  </div>
</div>