<div class="container">
  <div class="page-header">
    <div class="row">
      <!-- <div ng-class="alertClass" id="app-error" ng-show="showError">
        <div ng-include src="'partials/error.html'">
        </div>
      </div> -->
      <div class="col-lg-12">
        <h1>
          {{labels.checkout}}
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <div class="bs-component well">
        <div class="control-label page-subheading">Select Shipping address</div>
        <div ng-repeat="i in [1,2,3]">
          <div class="radio col-lg-offset-1">
            <input name="optionsRadios" id="optionsRadios1" value="option1" ng-model="shipping_address" checked="" type="radio" style="margin-top:50px">
            <div class="col-lg-offset-1" ng-include src="'templates/address.html'"></div>
          </div>
          <div class="horizontal-separator"></div>
        </div>
      </div>
      <div class="bs-component">
        <button class="btn btn-primary btn-xs" ng-click="open()" type="submit">Add new address</button>
        <button class="btn btn-primary btn-xs" type="submit" style="float: right">Proceed</button>
      </div>
      <div modal="showModal" close="cancel()">
        <div class="modal-body col-lg-6 col-lg-offset-3">
          <div class="well bs-component" ng-include src="'templates/new_address_form.html'"></div>
          <button class="btn" ng-click="cancel()">Cancel</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="well" ng-include src="'templates/sidecart.html'"></div>
    </div>
  </div>
</div>