<div class="container">
  <div class="page-header">
    <div class="row">
        <h1>
          {{labels.login_heading}}
        </h1>
    </div>
  </div>
  <div class="row">
  	<div class="col-lg-6 col-lg-offset-3">
    	<div class="well bs-component">
    		<form name="loginForm" novalidate>
      		<div class="form-horizontal">
      			<fieldset>
      				<div class="form-group">
                <label for="email" class="col-lg-4 control-label">{{labels.email}}</label>
                <div class="col-lg-8">
                  <input type="email" class="form-control" id="email" placeholder="Email" name="email" ng-model="user.email" name="email" required ng-maxlength=70>
                  <label ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="control-label has-error">{{labels.err_msg.email}}</label>
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="col-lg-4 control-label">{{labels.password}}</label>
                <div class="col-lg-8">
                  <input type="password" class="form-control" id="password" placeholder="Password" name="password" ng-model="user.password" required ng-maxlength=70>
                  <label ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="control-label has-error">{{labels.err_msg.password}}</label>
                </div>
              </div>
              <div class="form-group">
                <label for="rememberme" class="col-lg-4 control-label">{{labels.rememberme}}</label>
                <div class="col-lg-8">
                  <label>
                    <h4><input id="rememberme" type="checkbox"></input></h4>
                  </label>
                </div>
              </div>      
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-4">
                  <button class="btn btn-default" type="submit">{{labels.cancel}}</button>
                  <button class="btn btn-primary" type="submit" ng-click="login(user)" ng-disabled="loginForm.$invalid || isUnchanged(user)">{{labels.login}}</button>
                </div>
              </div>      
              </div>
      			</fieldset>
      		</div>
    	  </form>
     	</div>
    </div>
  </div>
</div>