<div class="container">
	<div class="page-header">
		<div class="row">
			<h1>
				{{labels.orderreview}}
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-9">
			<div class="dock">
					
				<table class="table table-striped table-hover ">
		  			<thead>
		    			<tr>
		      				<th class="col-lg-6" style="font-weight: 300">Item</th>
		      				<th class="col-lg-2" style="text-align: center; font-weight: 300;">Price</th>
		      				<th class="col-lg-2" style="text-align: center; font-weight: 300;">QTY</th>
		      				<th class="col-lg-2" style="text-align: right; font-weight: 300;">Total Price</th>
		    			</tr>
		  			</thead>
		  			 <tbody>
					    <tr ng-repeat="i in [1,2,3,4,5,7 ,8 ,9, 10, 11, 12, 13, 14, 15]">
					      <!-- <td>{{i}}</td> -->
					      <td>
					      	<div class="row">
						      	<div class="col-lg-2" style="vertical-align: middle">
									<a><img src="images/sanitary_hot_water/1.jpg" width="60" height="60"></a>
								</div>
								<div class="col-lg-10">
									<a href="#/product_details">Solar Water Heater1</a>
									<label>Hot water at low running costs without any need for electricity saving huge energy bills. - short_description001</label>
								</div>
							</div>
					      </td>
					      <td style="text-align: center; font-weight: 300;">&#8377 10000</td>
					      <td style="text-align: center; font-weight: 200;">3</td>
					      <td style="text-align: right; font-weight: 200;">&#8377 30000</td>
					    </tr>
	  				</tbody>
		  		</table>









			</div>
		</div>
		<div class="dock col-lg-3">
			<div>
				testing
			</div>
			<div>
				testing
			</div>
			<div>
				testing
			</div>
			<!-- <div class="dock">
			</div> -->
		</div>
	</div>
</div>