<div class="container">
	<div class="page-header">
		<div class="row">
			<h1>
				{{labels.order_history}}
			</h1>
		</div>
	</div>
	<div class="row">
	<div class="well bs-component">
		<!-- <div class="row">
			<div class="col-lg-12">
				<div class="control-label profile-subheading">Orders</div>
			</div>
		</div> -->
		<table class="table table-striped table-hover ">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>Date of order</th>
		      <th>Status</th>
		      <th>Amount</th>
		      <th>DeliveryDate</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="i in [1,2,3,4,5,7 ,8 ,9, 10, 11, 12, 13, 14, 15]">
		      <!-- <td>{{i}}</td> -->
		      <td><a href="">372817405</a></td>
		      <td>19-Oct-2014</td>
		      <td>Submitted</td>
		      <td>&#8377 10000</td>
		      <td>25-Oct-2014<h6>(estimated)</h6></td>
		    </tr>
		  </tbody>
		</table>
	</div>
		</div>
</div>