<div class="container"> -->
	<div class="page-header">
		<div class="row">
			<h1>
				{{labels.product_details}}
			</h1>
		</div>
	</div>
	<div class="row" >
		<div class="col-lg-12">
			<div class="dock vendor-banner-dock" style="background:#11497C">
				<img src="images/grundfoslogo.png" >
			</div>
		</div>
	</div>
	<div class="row" >
		<div class="col-lg-12">
			<div class="dock product-details-image-container">
				<div class="row">
					<div class="col-lg-5">
						<div class="product-haeding-dock">
							<h1>{{product.name}}</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5" >
							<img src="{{full_image_url}}" width="442" height="350">
					</div>
					<div class="col-lg-6">
						<div class="product-thumbnail-dock" ng-repeat="img_url in product.image_urls" style="float: right">
							<a ng-click="toggleImage(img_url)"><img ng-src="{{img_url}}" width="60" height="60"></a>
						</div>
					</div>
					<div class="col-lg-6">
						<div id="price" style="float: right">
							<h3>$ 10,00,000</h3>
						</div>
					</div>
					<div class="col-lg-6">
						<div style="float: right">
							<!-- <div id="product_rating col-lg-3"> -->
							<img src="images/star-sm.png" alt="cart">
							<img src="images/star-sm.png" alt="cart">
							<img src="images/star-sm.png" alt="cart">
							<img src="images/star-sm.png" alt="cart">
							<img src="images/star-sm.png" alt="cart">
							<!-- <button class="btn btn-primary btn-xs" type="submit" style="float: right">Add to cart</button> -->
							<!-- </div> -->
						</div>
					</div>
					<div class="col-lg-6">
						<div style="margin-top: 10px;">
							<!-- <select id="select">
         						<option>1</option>
						        <option>2</option>
  						        <option>3</option>
          						<option>4</option>
          						<option>5</option>
        					</select> -->
        					<button class="btn btn-primary btn-xs" type="submit" style="float: right;">Add to cart</button>
        					<input id="inputSmall" class="form-control input-dropdown" type="text" style="float: right;"></input>
        				</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="well bs-component">
				<ul class="nav nav-tabs">
					<li ng-repeat="attribute in product.attributes" class="ng-class:attribute.isSelected"><a href="" ng-click="toggleTabContent(attribute)" data-toggle="tab" >{{attribute.name}}</a></li>
				</ul>
				<div class="tab-content">
  					<div class="tab-pane fade active in">
    					<p ng-bind-html="tabContent"></p>
  					</div>
  				</div>
			</div>
		</div>
	</div>
</div>