<div class="container">
	<div class="page-header">
		<div class="row">
			<h1>
				{{labels.profile}}
			</h1>
		</div>
	</div>
	<div class="well bs-component">
		<div class="row">
			<div class="col-lg-6">
				<div class="control-label profile-subheading">Account Details</div>
				<div class="control-label profile-label">{{user.first_name}}</div>
				<div class="control-label profile-label">{{user.last_name}}</div>
				<div class="control-label profile-label">{{user.phone_number}}</div>
				<div class="control-label profile-label">{{user.email}}</div>
			</div>
			<div class="col-lg-6">
				<div class="control-label profile-subheading">Settings</div>
				<div class="control-label profile-label">
					<input id="enableNotifications" type="checkbox" style="margin-right: 20px"></input>
					<label for="enableNotifications" class="control-label">Enable email notifications</label>
				</div>
				<div>
  					<button class="btn btn-primary" type="submit">Reset password</button>
  				</div>
			</div>
		</div>
	</div>
</div>