<div class="container">
  <div class="page-header">
    <div class="row">
      <!-- <div ng-class="alertClass" id="app-error" ng-show="showError">
        <div ng-include src="'partials/error.html'">
        </div>
      </div> -->
		<h1>
		  {{labels.heading}}
		</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
    <div class="well bs-component">
      <form name="registerForm" novalidate>
  		<div class="form-horizontal">
  			<fieldset>
  				<div class="form-group">
  					<label for="firstname" class="col-lg-4 control-label">{{labels.firstname}}</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" name="firstname" placeholder="{{labels.firstname}}" ng-model="user.first_name" required ng-maxlength=50 ng-minlength=3>
                <label ng-show="registerForm.firstname.$invalid && !registerForm.firstname.$pristine" class="control-label has-error">{{labels.err_msg.firstname}}</label>
              </div>
          </div>
          <div class="form-group">
        		<label for="lastname" class="col-lg-4 control-label">{{labels.lastname}}</label>
        		<div class="col-lg-8">
        			<input type="text" class="form-control" id="lastname" placeholder="Last name" name="lastname" ng-model="user.last_name" ng-minlength=1 ng-maxlength=50>
        			<label ng-show="registerForm.lastname.$invalid && !registerForm.lastname.$pristine" class="control-label has-error">{{labels.err_msg.lastname}}</label>
        		</div>
        	</div>
        	<div class="form-group">
        		<label for="phonenumber" class="col-lg-4 control-label">{{labels.phonenumber}}</label>
        		<div class="col-lg-8">
        			<input type="text" class="form-control" id="phonenumber" placeholder="Phone number" name="phonenumber" ng-model="user.phone_number" required ng-minlength=10 ng-maxlength=10 ng-pattern="/^[0-9]+$/">
        			<label ng-show="registerForm.phonenumber.$invalid && !registerForm.phonenumber.$pristine" class="control-label has-error">{{labels.err_msg.phonenumber}}</label>
        		</div>
        	</div>
        	<div class="form-group">
        		<label for="email" class="col-lg-4 control-label">{{labels.email}}</label>
        		<div class="col-lg-8">
        			<input type="email" class="form-control" id="email" placeholder="Email" name="email" ng-model="user.email" name="email" required ng-maxlength=70>
        			<label ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="control-label has-error">{{labels.err_msg.email}}</label>
        		</div>
        	</div>
        	<div class="form-group">
        		<label for="password" class="col-lg-4 control-label">{{labels.password}}</label>
        		<div class="col-lg-8">
        			<input type="password" class="form-control" id="password" placeholder="Password" name="password" ng-model="user.password" required ng-maxlength=70>
        			<label ng-show="registerForm.password.$invalid && !registerForm.password.$pristine" class="control-label has-error">{{labels.err_msg.password}}</label>
        		</div>
        	</div>
        	<div class="form-group">
        		<label for="reenteredpassword" class="col-lg-4 control-label">{{labels.reenter_password}}</label>
        		<div class="col-lg-8">
        			<input type="password" class="form-control" name="reenteredpassword" placeholder="Password" ng-model="user.repeat_password" required ng-maxlength=70>
        			<label ng-show="(registerForm.reenteredpassword.$invalid && !registerForm.reenteredpassword.$pristine) || (user.password != user.repeat_password) " class="control-label has-error">{{labels.err_msg.reenter_password}}</label>
        		</div>
        	</div>
			<!-- TODO make it look proper-->
			<div class="form-group">
				<div class="col-lg-offset-4 col-lg-8">
					<div class="g-recaptcha" data-sitekey="6LcFqP8SAAAAAHMbcMIxXCFcl98bl9P0QQb_aPcb"></div>
				</div>
			</div>
        	<div class="form-group">
        		<div class="col-lg-9 col-lg-offset-4">
        			<button class="btn btn-default" type="submit">{{labels.cancel}}</button>
        			<button class="btn btn-primary" type="submit" ng-click="registerUser(user)" ng-disabled="registerForm.$invalid || isUnchanged(user)">{{labels.submit}}</button>
              <!-- <button class="btn btn-primary" type="submit" ng-click="registerUser(user)">{{labels.submit}}</button> -->
        		</div>
        	</div>
  			</fieldset>
  		</div>
  	</form>
  	</div>
  </div>
  </div>
</div>