<div class="container">
	<div class="page-header">
		<div class="row">
			<!--<div class="col-lg-8 col-md-7 col-sm-6">-->
				<h1>
				{{labels.reset_password}}
				</h1>
			<!--</div>-->
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<div class="well bs-component">
				<form name="resetPasswordForm" novalidate>
				<div class="form-horizontal">
					<fieldset>
						<div class="form-group">
							<label for="phonenumber" class="col-lg-4 control-label">{{labels.phonenumber}}</label>
							<div class="col-lg-8">
								<input ng-model="user.phonenumber" type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="{{labels.phonenumber}}" required>
								<label ng-show="resetPasswordForm.phonenumber.$invalid && !resetPasswordForm.phonenumber.$pristine" class="control-label has-error" style="color: #D32A0E">{{labels.err_msg.phonenumber}}</label>
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="col-lg-4 control-label">{{labels.email}}</label>
							<div class="col-lg-8">
								<input type="email" class="form-control" id="email" placeholder="email" name="email" ng-model="user.email">
								<label ng-show="resetPasswordForm.email.$invalid && !resetPasswordForm.email.$pristine" class="control-label has-error" style="color: #D32A0E">{{labels.err_msg.email}}</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-4">
								<button class="btn btn-default" type="submit">{{labels.cancel}}</button>
								<button class="btn btn-primary" type="submit">{{labels.reset}}</button>
							</div>
						</div>
					</fieldset>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>