<div class="container">
	<div class="page-header">
		<div class="row">
			<div class="col-lg-8 col-md-7 col-sm-6">
				<h1>
					{{labels.pumps_heading}}
				</h1>
			</div>
		</div>
	</div>
	<div class="row" >
		<div class="col-lg-3" ng-repeat="product in products">
			<div class="dock product-small-dock bs-component">
				<div class="product-small-image-dock">
					<img src="images/cart-m.png" alt="cart">
				</div>
				<div class="product-small-heading-desc">
					<div id="product_heading">
						<h4>{{product.heading}}</h4>
					</div>
					<div id="product_description">
						<h6>Hot water at low running costs without any need for electricity saving huge energy bills.</h6>
					</div>
					<div class="form-group">
						<div id="product_rating col-lg-3">
							<img src="images/star-sm.png" alt="cart">
							<img src="images/star-sm.png" alt="cart">
							<img src="images/star-sm.png" alt="cart">
							<img src="images/star-sm.png" alt="cart">
							<img src="images/star-sm.png" alt="cart">
							<button class="btn btn-primary btn-xs" type="submit" style="float: right">Add to cart</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>