<html ng-app="bisineer" class='no-js' lang="en">
<head>
<meta charset="utf-8">
<title>Bisineer</title>
<meta content="width=device-width, initial-scale=1" name="viewport"></meta>
<link rel="stylesheet" href="./css/bootstrap.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="./css/bootswatch.css"/>
<link rel="stylesheet" type="text/css" href="./css/bisineer.css"/>
<link rel="stylesheet" type="text/css" href="./css/angular-carousel.css"/>
<script src="./js/jquery-1.10.2.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/bootswatch.js"></script>
<!-- <link href="../assets/css/bootswatch.min.css" rel="stylesheet"></link> -->
<!--<script src="app/bower_components/jquery/jquery.js"></script>
<script src="app/bower_components/angular/angular.js"></script>
<script src="app/bower_components/angular-animate/angular-animate.js"></script>
<script src="app/bower_components/angular-route/angular-route.js"></script>
<script src="app/bower_components/angular-resource/angular-resource.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/register.js"></script>-->
<script src="./js/angular.js"></script>
<script src="./js/angular-route.js"></script>
<script src="./js/angular-resource.js"></script>
<script src="./js/angular-animate.js"></script>
<script src="./js/angular-sanitize.js"></script>
<script src="js/angular-ui-bootstrap-modal.js"></script>
<!--<script src="./js/angular-touch.min.js"></script>
<script src="./js/angular-carousel.min.js"></script>-->
<script src="./js/angular-simple-slider.min.js"></script>
<script src="./js/app.js"></script>
<!-- <script src="./js/controllers.js"></script> -->
<script src="./js/controllers/global_controller.js"></script>
<script src="./js/controllers/register_controller.js"></script>
<script src="./js/controllers/product_controller.js"></script>
<script src="./js/controllers/product_details_controller.js"></script>
<script src="./js/controllers/login_controller.js"></script>
<script src="./js/controllers/logout_controller.js"></script>
<script src="./js/controllers/order_history_controller.js"></script>
<script src="./js/controllers/profile_controller.js"></script>
<script src="./js/controllers/reset_password_controller.js"></script>
<script src="./js/controllers/category_controller.js"></script>
<script src="./js/controllers/sidecart_controller.js"></script>
<script src="./js/controllers/home_controller.js"></script>
<!-- <script src="./js/controllers/orderreview_controller.js"></script> -->
<script src="./js/controllers/checkout_controller.js"></script>
<script src="./js/controllers/cart_controller.js"></script>
<script src="./js/services.js"></script>
<script src="./js/checklist-model.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body style="background-color: #f1f1f1">
<div class="navbar navbar-default navbar-fixed-top" ng-controller="GlobalCtrl">
  <!-- <div class="container"> -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MyCompany ®</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <!-- <ul class="nav navbar-nav">
        <li class="active"><a href="#">Active</a></li>
        <li><a href="#">Products</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Dropdown header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul> -->
      <form class="navbar-form navbar-left">
        <input class="form-control col-lg-8" placeholder="Search" type="text">
      </form>
      <ul class="nav navbar-nav">
        <li ng-repeat="category in categories.few"><a href="#/category/{{category.name}}">{{category.name}}</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="" id="more">More<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="more">
            <li ng-repeat="category in categories.more"><a href="#/category/{{category.name}}">{{category.name}}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right col-lg-3">
        <!-- <li><a href="#">Products</a></li> -->
        <li><a href="#">Services</a></li>
        <li><a href="#/order_history">Orders</a></li>
        <li><a href="#">Help</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="" id="myaccount" >{{(globalUser.first_name) || 'My account'}}<span class="caret"></span></a>
          <!-- <div class="col-lg-offset-1 dropdown-menu" ng-include src="'templates/address.html'"></div> -->
          <ul class="dropdown-menu" aria-labelledby="myaccount">
            <li><a href="#/register">Register</a></li>
            <li><a href="#/login">Sign in</a></li>
            <li><a href="#/profile">View Profile</a></li>
            <li><a href="../default/">Inbox <span class="GAVXO-JD0I">4</span></a></li>
            <li><a href="#/reset_password/">Reset Password</a></li>
            <li class="divider"></li>
            <li><a href="" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
        <!-- <li class="dropdown" ng-controller="CartCtrl">
          <img class="dropdown-toggle" data-toggle="dropdown" ng-click="expandMinicart()" src="images/cart-m.png" alt="cart" height="25" width="25" style="margin-top: 9px;">
          <label class="badge_number_color">{{totalQuantity}}</label>
          <div class="dropdown-menu" style="min-width: 300px;" ng-include src="'templates/minicart.html'"></div>
        </li> -->
        <li class="dropdown" >
          <img src="images/cart-m.png" alt="cart" height="25" width="25" style="margin-top: 9px;" ng-click="onCartClick()">
          <label class="badge_number_color">{{totalQuantity}}</label>
        </li>
      </ul>
    </div>
  <!-- </div> -->
</div>
<div class="app-alert" id="app-alert" ng-show="showAlert">
  <div ng-include src="'partials/alert.html'">
  </div>
</div>
<div ng-view class="container">
  
</div>
<div id="footer" class="footer">MyCompany Footer</div>
</body>
</html>
