<div class="control-label">{{address.name}}</div>
<div class="control-label">{{address.street_address}}</div>
<div class="control-label">{{address.landmark}}</div>
<div class="control-label">{{address.city}}</div>
<div class="control-label">{{address.pincode}}</div>