<div class="col-lg-7">
    <div>
        <img src="http://localhost:8080/images/sanitary_hot_water/5.jpg" class="responsive-image">
        <a id="prev-button" href="#" class="prev-slide-button">Prev</a>
        <a id="next-button" href="#" class="next-slide-button">Next</a>
    </div>

    <!--<button class="btn btn-primary" type="submit" style="float:center;">Prevoius</button>
    <button class="btn btn-primary" type="submit" style="float:right;">Next</button>-->
    <!--<div class="emptyline"></div>
    <div class="emptyline"></div>
    <div class="emptyline"></div>-->
    <div class="row">
        <div style="width:100%;">

            <!--<span style="display:inline-block"><img src="http://beta-store.appspot.com/images/sanitary_hot_water/3.jpg" width="135" height="135"></span>
            <span style="display:inline-block"><img src="http://beta-store.appspot.com/images/sanitary_hot_water/3.jpg" width="135" height="135"></span>
            <span style="display:inline-block"><img src="http://beta-store.appspot.com/images/sanitary_hot_water/3.jpg" width="135" height="135"></span>-->
            <!--<span style="display:table-cell;text-align:center;"><img src="http://beta-store.appspot.com/images/sanitary_hot_water/3.jpg" width="135" height="135"></span>
            <span style="display:table-cell;text-align:center;"><img src="http://beta-store.appspot.com/images/sanitary_hot_water/3.jpg" width="135" height="135"></span>
            <span style="display:table-cell;text-align:center;"><img src="http://beta-store.appspot.com/images/sanitary_hot_water/3.jpg" width="135" height="135"></span>-->
        </div>
        <!--<div class="col-lg-4">
            <img src="http://beta-store.appspot.com/images/sanitary_hot_water/3.jpg" width="135" height="135">
        </div>
        <div class="col-lg-4">
            <img src="http://beta-store.appspot.com/images/sanitary_hot_water/3.jpg" width="135" height="135">
        </div>
        <div class="col-lg-4">
            <img src="http://beta-store.appspot.com/images/sanitary_hot_water/3.jpg" width="135" height="135">
        </div>-->
    </div>
    <!--<div id="myslider{{i}}" class="row">
        <img ng_src="http://beta-store.appspot.com/images/sanitary_hot_water/{{i}}.jpg" class="responsive-image">
        <img ng_src="http://beta-store.appspot.com/images/sanitary_hot_water/{{i}}.jpg" class="responsive-image">
        <img ng_src="http://beta-store.appspot.com/images/sanitary_hot_water/{{i}}.jpg" class="responsive-image">
    </div>-->

    <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
      &lt;!&ndash; Indicators &ndash;&gt;
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      &lt;!&ndash; Wrapper for slides &ndash;&gt;
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://beta-store.appspot.com/images/sanitary_hot_water/3.jpg" alt="...">
          <div class="carousel-caption">
              <h3>Caption Text</h3>
          </div>
        </div>
        <div class="item">
          <img src="http://beta-store.appspot.com/images/sanitary_hot_water/3.jpg" alt="...">
          <div class="carousel-caption">
              <h3>Caption Text</h3>
          </div>
        </div>
        <div class="item">
          <img src="http://beta-store.appspot.com/images/sanitary_hot_water/3.jpg" alt="...">
          <div class="carousel-caption">
              <h3>Caption Text</h3>
          </div>
        </div>
      </div>

      &lt;!&ndash; Controls &ndash;&gt;
      <a class="left carousel-control" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>-->



</div>
<div class="col-lg-5">
    <div class="row">
        FWHS-AMS
    </div>
    <div class="row">
        Firewood Water Heating System built with All Mild Steel
    </div>
    <div class="row">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis posuere enim, non rutrum est tempor non. Quisque risus urna, commodo at neque sed, pharetra semper mi. Suspendisse eget tempus dui. Nulla ex diam, vulputate sed ipsum quis, pulvinar scelerisque nulla. Praesent nec mi nulla. Aenean ex orci, dapibus sed lectus id, volutpat volutpat ipsum. Duis at aliquam massa. Praesent eu aliquet lacus. Vivamus ornare semper lacus ac rhoncus.
        </p>
    </div>
    <!--<div class="emptyline"></div>
    <div class="emptyline"></div>
    <div class="emptyline"></div>-->
    <div class="row">
        <button class="btn btn-primary" type="submit" style="float:center;">Specifications</button>
        <button class="btn btn-primary" type="submit" style="float:center;width:107;">Features</button>
        <button class="btn btn-primary" type="submit" style="float:center;width:107;">Compare</button>
        <button class="btn btn-primary" type="submit" style="float:center;width:107;">Shop</button>
        <!--<div class="col-lg-3">
            <button class="btn btn-primary" type="submit" style="float:center;">Specifications</button>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-primary" type="submit" style="float:center;width:107;">Features</button>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-primary" type="submit" style="float:center;width:107;">Compare</button>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-primary" type="submit" style="float:center;width:107;">Shop</button>
        </div>-->
    </div>
</div>
<!--<script>
    /*console.log("template id is {{i}}");
    var myslider = "myslider_" + $scope.i;*/
    var slider = new SimpleSlider(document.getElementById("myslider{{a}}"));
</script>-->
