<table class="table table-striped table-hover ">
	<thead>
	<tr>
		<th class="col-lg-6" style="font-weight: 300">Item</th>
		<th class="col-lg-2" style="text-align: center; font-weight: 300;">Price</th>
		<th class="col-lg-2" style="text-align: center; font-weight: 300;">QTY</th>
		<th class="col-lg-2" style="text-align: right; font-weight: 300;">Total Price</th>
	</tr>
	</thead>
	 <tbody>
    <tr ng-repeat="line_item in cart.line_items">
      <!-- <td>{{i}}</td> -->
      <td>
      	<div class="row">
	      	<div class="col-lg-2" style="vertical-align: middle">
				<a><img src="images/sanitary_hot_water/1.jpg" width="60" height="60"></a>
			</div>
			<div class="col-lg-10">
				<a href="#/product_details" class="control-label">{{line_item.name}}</a>
				<label class="control-label">{{line_item.description_short}}</label>
			</div>
		</div>
      </td>
      <td class="control-label" style="text-align: center;">{{labels.rupees}} {{line_item.unit_price}}</td>
      <td class="control-label" style="text-align: center;">{{line_item.quantity}}</td>
      <td class="control-label" style="text-align: center;">{{labels.rupees}} {{line_item.total_amount}}</td>
    </tr>
	</tbody>
</table>