<form name="addressForm" novalidate>
  <div class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label for="name" class="col-lg-3 control-label">{{labels.name}}</label>
        <div class="col-lg-7">
          <input type="text" class="form-control" name="name" placeholder="{{labels.name}}" ng-model="address.name" required ng-maxlength=50 ng-minlength=3>
          <label ng-show="addressForm.name.$invalid && !addressForm.name.$pristine" class="control-label has-error">{{labels.err_msg.name}}</label>
        </div>
      </div>
      <div class="form-group">
        <label for="street_address" class="col-lg-3 control-label">{{labels.street_address}}</label>
        <div class="col-lg-7">
          <textarea class="form-control" rows="2" name="street_address" placeholder="{{labels.street_address}}" ng-model="address.street_address" required></textarea>
          <label ng-show="addressForm.street_address.$invalid && !addressForm.street_address.$pristine" class="control-label has-error">{{labels.err_msg.street_address}}</label>
        </div>
      </div>
      <div class="form-group">
        <label for="landmark" class="col-lg-3 control-label">{{labels.landmark}}</label>
        <div class="col-lg-7">
          <input type="text" class="form-control" name="landmark" placeholder="{{labels.landmark}}" ng-model="address.landmark" required ng-maxlength=50 ng-minlength=3>
          <label ng-show="addressForm.landmark.$invalid && !addressForm.landmark.$pristine" class="control-label has-error">{{labels.err_msg.landmark}}</label>
        </div>
      </div>
      <div class="form-group">
        <label for="city" class="col-lg-3 control-label">{{labels.city}}</label>
        <div class="col-lg-7">
          <input type="text" class="form-control" name="city" placeholder="{{labels.city}}" ng-model="address.city" required ng-maxlength=50 ng-minlength=3>
          <label ng-show="addressForm.city.$invalid && !addressForm.city.$pristine" class="control-label has-error">{{labels.err_msg.city}}</label>
        </div>
      </div>
      <div class="form-group">
        <label for="state" class="col-lg-3 control-label">{{labels.state}}</label>
        <div class="col-lg-7">
          <!-- <input type="text" class="form-control" name="city" placeholder="{{labels.city}}" ng-model="address.city" required ng-maxlength=50 ng-minlength=3>
          <label ng-show="addressForm.city.$invalid && !addressForm.city.$pristine" class="control-label has-error">{{labels.err_msg.city}}</label> -->
          <div class="btn-group">
            <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              {{labels.select_state}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="height: auto; max-height: 200px; overflow-x: hidden">
              <li ng-repeat="state in labels.states" ng-click="labels.select_state=state; address.bis_state=state;"><a href="">{{state}}</a></li>
              <!-- <li><a href="#">Dropdown link</a></li>
              <li><a href="#">Dropdown link</a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="country" class="col-lg-3 control-label">{{labels.country}}</label>
        <div class="col-lg-7">
          <input type="text" class="form-control" id="country" placeholder="{{labels.country}}" name="country" ng-model="address.country" ng-minlength=1 ng-maxlength=50>
          <label ng-show="addressForm.country.$invalid && !addressForm.country.$pristine" class="control-label has-error">{{labels.err_msg.country}}</label>
        </div>
      </div>
      <div class="form-group">
        <label for="pincode" class="col-lg-3 control-label">{{labels.pincode}}</label>
        <div class="col-lg-7">
          <input type="text" class="form-control" id="pincode" placeholder="{{labels.pincode}}" name="pincode" ng-model="address.pincode" ng-minlength=1 ng-maxlength=50>
          <label ng-show="addressForm.pincode.$invalid && !addressForm.pincode.$pristine" class="control-label has-error">{{labels.err_msg.pincode}}</label>
        </div>
      </div>
      <div class="form-group">
        <label for="phonenumber" class="col-lg-3 control-label">{{labels.phonenumber}}</label>
        <div class="col-lg-7">
          <input type="text" class="form-control" id="phonenumber" placeholder="Phone number" name="phonenumber" ng-model="address.phone_number" required ng-minlength=10 ng-maxlength=10 ng-pattern="/^[0-9]+$/">
          <label ng-show="addressForm.phonenumber.$invalid && !addressForm.phonenumber.$pristine" class="control-label has-error">{{labels.err_msg.phonenumber}}</label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3">
          <button class="btn btn-primary btn-xs" type="submit" ng-click="save_address(address)" ng-disabled="addressForm.$invalid || isUnchanged(address)">{{labels.save}}</button>
          <button class="btn btn-default btn-xs" ng-click="cancel()" type="submit">{{labels.cancel}}</button>
          <!-- <button class="btn btn-primary" type="submit" ng-click="registerUser(address)">{{labels.submit}}</button> -->
        </div>
      </div>
    </fieldset>
  </div>
</form>