<div class="page-subheading-2">
	Order Summary
</div>
<div class="row">
	<div class="col-lg-6">
		<label class="control-label">Item(s):</label>
	</div>
	<div class="col-lg-6">
		<label class="control-label" style="float:right;">{{labels.rupees}} {{cart.total_amount}}</label>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<label class="control-label">Estimated tax:</label>
	</div>
	<div class="col-lg-6">
		<label class="control-label" style="float:right;">{{labels.rupees}} {{cart.total_amount}}</label>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<label class="control-label">Shipping Services:</label>
	</div>
	<div class="col-lg-6">
		<label class="control-label" style="float:right;">{{labels.rupees}} {{cart.total_amount}}</label>
	</div>
</div>
<div class="horizontal-separator"></div>
<div>
	<label class="control-label-highlight" style="font-weight: bold;">Estimated Total:</label>
	<label class="control-label-highlight" style="float:right; font-weight: bold;">{{labels.rupees}} 30000000</label>
</div>
<div class="emptyline">
</div>
<div id="button_keep_shopping">
	<button class="btn btn-default btn-xs btn-sidecart-submit-order" type="submit" ng-click="keepShopping()" ng-show="showKeepShoppingButton">Keep Shopping</button>
</div>
<div>
	<button class="btn btn-primary btn-xs btn-sidecart-submit-order" type="submit" ng-click="onClickProceedToCheckout()" ng-show="showProceedToCheckoutButton">Proceed to checkout</button>
</div>
</div>
<div class="emptyline">
</div>
<div>
	<button class="btn btn-primary btn-xs btn-sidecart-submit-order" type="submit" ng-show="showSubmitOrderButton">Submit order</button>
</div>

